@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  /* 1. Reset and Overwrite Breakpoints */
  /* This 'initial' line removes the default 2xl breakpoint to match the screenshot */
  --breakpoint-*: initial;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1020px;
  --breakpoint-xl: 1440px;

  /* 2. Extend Colors (using kebab-case for CSS naming standards) */
  --color-soft-blue: hsl(231 69% 60%);
  --color-soft-red: hsl(0 94% 66%);
  --color-grayish-blue: hsl(229 8% 60%);
  --color-very-dark-blue: hsl(229 31% 21%);

  /* This overrides the default font-sans utility */
  --font-sans: "Rubik", sans-serif;
}

.bg-hero {
  /* Tailwind v4 replacement for @screen */
  @variant lg {
    width: 2000px;
    height: 300px;
    left: 30%;

    @apply bg-soft-blue absolute top-52 rounded-l-full;
  }
}
.bg-tabs {
  /* Tailwind v4 replacement for @screen */
  @variant lg {
    width: 2000px;
    height: 300px;
    right: 60%;

    @apply bg-soft-blue absolute top-60 rounded-r-full;
  }
}
