@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");
@import "tailwindcss";

@theme {
  /* 1. Reset and Overwrite Breakpoints */
  /* This 'initial' line removes the default 2xl breakpoint to match the screenshot */
  --breakpoint-*: initial;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  /* 2. Extend Colors (using kebab-case for CSS naming standards) */
  --color-strong-cyan: hsl(171 66% 44%);
  --color-light-blue: hsl(233 100% 69%);
  --color-dark-grayish-blue: hsl(210 10% 33%);
  --color-grayish-blue: hsl(201 11% 66%);

  /* This overrides the default font-sans utility */
  --font-sans: "Josefin Sans", sans-serif;
  --font-alata: "Alata";

  /* Letter spacing definition from screenshot */
  --tracking-widest: 0.3em;
}

@layer base {
  #hero {
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}

@utility btn {
  @apply font-alata my-0 border-2 border-black px-10 py-2 font-bold tracking-widest uppercase hover:bg-black hover:text-white;
}
