@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,300;1,300&display=swap");
@import "tailwindcss";

@theme {
  /* 1. Reset and Overwrite Breakpoints */
  /* This 'initial' line removes the default 2xl breakpoint to match the screenshot */
  --breakpoint-*: initial;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  /* 2. Extend Colors (using kebab-case for CSS naming standards) */
  --color-strong-cyan: hsl(171 66% 44%);
  --color-light-blue: hsl(233 100% 69%);
  --color-dark-grayish-blue: hsl(210 10% 33%);
  --color-grayish-blue: hsl(201 11% 66%);

  /* This overrides the default font-sans utility */
  --font-sans: "Josefin Sans", sans-serif;
  --font-alata: "Alata";

  /* Letter spacing definition from screenshot */
  --tracking-widest: 0.3em;
}

@layer base {
  #hero {
    background-image: url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h5 {
    @apply absolute bottom-4 w-52 px-6 duration-200 group-hover:scale-110 group-hover:text-black md:bottom-8 md:px-10;
  }
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}

@utility btn {
  @apply font-alata my-0 border-2 border-black px-10 py-2 font-bold tracking-widest uppercase hover:bg-black hover:text-white;
}
@utility item-container {
  @apply flex w-full flex-col justify-between space-y-8 text-2xl text-white uppercase md:flex-row md:space-y-0 md:space-x-8;
}
@utility item {
  @apply relative overflow-hidden md:w-1/4;
}
@utility item-gradient {
  @apply absolute top-0 right-0 bottom-0 left-0 bg-linear-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
}

@utility hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

@utility hamburger-top {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

@utility hamburger-middle {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

@utility hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #fff;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
