@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
@import "tailwindcss";

@layer base {
  body {
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  h3 {
    @apply text-dark-grayish-blue mb-8 text-4xl font-bold md:text-5xl;
  }
}

@utility section-container {
  @apply mx-auto max-w-6xl text-center;
}

@utility button-container {
  @apply flex w-full flex-col justify-center space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@theme {
  /* 1. Reset and Overwrite Breakpoints */
  /* This 'initial' line removes the default 2xl breakpoint to match the screenshot */
  --breakpoint-*: initial;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  /* 2. Extend Colors (using kebab-case for CSS naming standards) */
  --color-strong-cyan: hsl(171 66% 44%);
  --color-light-blue: hsl(233 100% 69%);
  --color-dark-grayish-blue: hsl(210 10% 33%);
  --color-grayish-blue: hsl(201 11% 66%);

  /* This overrides the default font-sans utility */
  --font-sans: "Bai Jamjuree", sans-serif;
}
